.idea/eZam-Database-analysis.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/shelf/Uncommitted_changes_before_Update_at_10_04_2026_18_29_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_10_04_2026_18_29__Changes_.xml
.idea/vcs.xml
.idea/workspace.xml
